@font-face {
    font-family: 'IBM PlexSans Regular';
    src: url(fonts\IBMPlexSans-Regular.woff) format('woff'), url(fonts/IBMPlexSans-Regular.woff2) format('woff2');
    font-style: none;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'IBM PlexSans Bold';
    src: url(fonts\IBMPlexSans-Bold.woff) format('woff'), url(fonts/IBMPlexSans-Bold.woff2) format('woff2');
    font-style: none;
    font-weight: 700;
    font-display: swap;
}


body {
    font-family: 'IBM PlexSans Regular', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #111;
    background-color: #db8963;
    text-align: justify;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 30rem;
    padding-right: 30rem;
    padding-top: 5rem;
}

h1 {
    font-family: 'Bebas Neue' cursive;
    font-size: 3rem;
    color: #912e00;
}

h2 {
    font-family: 'IBM PlexSans Bold';
    padding: none;
    margin: none;
}

p.author {
    margin: 0;
    padding-top: 0;
    font-size: 1rem;
    color: #912e00;
}

p.author::after {
    color: #912e00;
    content: '\2192';
    padding: 4px;
}

.content>p:first-of-type::first-letter {
    color: black;
    float: left;
    padding: 0.2em;
    font-size: 2em;
    border: 2px solid;
    border-color: #912e00;
    margin: 0 0.2em 0 0;
    line-height: 0.85;
    background-color: #db8963;
}

h3 {
    font-family:'Bebas Neue' cursive;
    padding-top: 1em;
    font-family: 'IBM PlexSans Bold';
    font-size: 1.2rem;
    color: #912e00;
    line-height: 0%;
}

h3:after {
    content: "";
    display: block;
    margin-top: 1.3rem;
    line-height: 0;
    padding: none;
    width: 100%;
    border-top: 2px solid #DA8674;
}

.frenchie-pic {
    float: right;
    height: 16em;
    width: 12em;
    object-fit: cover;
    padding-left: 3.5em;
    padding-bottom: 1em;
    overflow: hidden;
}


blockquote {
font-family: 'Grape Nuts', cursive;
  background: linear-gradient(45deg, #912e00, transparent);
  color: rgb(255, 255, 255);
  margin-left: 0;
  margin-right: 0;
  padding: 1em;
  border-radius: 4px;
}

blockquote::before {
    content: "\201C";
    color: #912e00;
    font-size: 4em;
    position: absolute;
    left: 30px;
    top: -5px;
}

.flex-container {
    width: 14rem;
    height: 6rem;
    background-color: #db8963;
    border: 2px solid #912e00;
}

footer {
    text-decoration: none;
}

footer::after {
    color: #912e00;
    content: '\2191';
    padding: 4px;
}

a {
  color: rgb(0, 0, 0);
}
a:hover {
  color: rgb(255, 255, 255);
}