body {
   
  margin: 90;
  padding: 0;
 color: hotpink;
  background-color: black;
}
header{
font-family: 'Cinzel', serif;
font-size: 100px;

}


main {
  font-family: 'rubik puddles', cursive;
  font-size: 80px;
  

}
a {
  color: hotpink;
}
a:hover {
  color: rgb(0, 255, 42);
}
a:link {
  text-decoration: none;
}
a:link, a:visited {
  background-color: hotpink;
  color: black;
  border: 2px solid hotpink;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color:  rgb(0, 255, 42);
  color: black;
  border: 2px solid rgb(0, 255, 42);
}